// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.post-title {
  font-size:25px;
  letter-spacing:0px;
  line-height:1.1
}
